<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{site.baseurl}}/assets/img/favicon.png" type="image/png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/vendors/linericon/style.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/magnific-popup.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/vendors/nice-select/css/nice-select.css">
<!-- main css -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

<!-- other cdn library -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>






<title>{{ page.title }} | {{site.title}}</title>


<style>
    pre code {
        display: block;
        padding: 1em;
        overflow-x: auto;
        border: 1px solid #ccc;
        background: linear-gradient(to right, #614294, #8C4E9E);
        /* Set the background color to black */
        color: #fff;
        /* Set the text color to white */
    }


</style>



<style>
    /* Your loading bar styles here */
    #loadingBar {
        height: 2px;
        width: 0;
        background-color: #7851EB;
        transition: width 1s;
    }
</style>