<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="assets/img/favicon.png" type="image/png">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/vendors/linericon/style.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="assets/css/style.css">
    <title>{{ page.title }} | {{site.title}}</title>










    <style>
        pre code {
            display: block;
            padding: 1em;
            overflow-x: auto;
            border: 1px solid #ccc;
            background-color: #000; /* Set the background color to black */
            color: #fff; /* Set the text color to white */
        }
        
        .copy-code-button {
          background-color: transparent;
          color: #31D2F2;
          border: 2px solid #31D2F2;
          padding: 5px 10px;
          cursor: pointer;
          margin: 10px 0;
          transition: background-color 0.3s, color 0.3s; /* Add transition properties */
      }
      
      .copy-code-button:hover {
          background-color: #31D2F2; /* Change color on hover */
          color: #fff; /* Change text color on hover */
        }
        </style>