

<div class="loading-bar-container">
    <div class="loading-bar" id="loadingBar"></div>
</div>
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
               
                <a class="navbar-brand logo_h" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo.png"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" href="{{site.baseurl}}/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/abouts">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/blogs">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<!-- <li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
         aria-expanded="false">Pages</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/elements">Elements</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/portfolio-details">Portfolio Details</a></li>
        </ul>
    </li> -->


<!-- <li class="nav-item submenu dropdown">
        <a class="nav-link" href="{{site.baseurl}}/blog">Blog</a>
            <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/blog">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/single-blog">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/contact">Contact</a></li> -->
