<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const codeBlocks = document.querySelectorAll('pre code');
    
        codeBlocks.forEach((codeBlock) => {
            const button = document.createElement('button');
            button.className = 'copy-code-button';
            button.textContent = 'Copy Code';
    
            button.addEventListener('click', () => {
                const textArea = document.createElement('textarea');
                textArea.value = codeBlock.innerText;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea);
            });
    
            codeBlock.parentNode.insertBefore(button, codeBlock.nextSibling);
        });
    });
    </script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/popper.js"></script>
	<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/stellar.js"></script>
	<script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="{{site.baseurl}}/assets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="{{site.baseurl}}/assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="{{site.baseurl}}/assets/vendors/isotope/isotope-min.js"></script>
	<script src="{{site.baseurl}}/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{{site.baseurl}}/assets/js/gmaps.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/theme.js"></script>